<% render '_layout', title: start_date.strftime("%b %Y") do %>
    <section id="intro" class="feature">
        <div class="row logo">
            <div class="large-12 columns">
                <a href="http://www.thoughtworks.com" target="_blank"
                   onclick="ga('send', 'event', 'tw', 'tw')" class="tw-logo">
                    <img src="./img/tw-logo.png" alt="ThoughtWorks" align="center" />
                </a>
            <br/>
            <br/>
            <h2>Data Science Discussions</h2>
            <br/>
            <br/>

            </div>
            <br/>
            <br/>
                <% if @item[:subheader] %>
                    <h3 style="font-style: italic"><%= @item[:subheader] %></h3>
                <% end %>
                <br/>
                <br/>
                <h3>12<sup>th</sup> November, 2016
                    <br>Bangalore</h3>
        </div>

    </section>

    <%= render '_about_section' %>

    <%= render '_agenda_section' %>

    <%= render '_participate_section' %>

    <%= render '_location_section' %>

    <%= render '_header_section' %>

    <%= render '_footer_section' %>
<% end %>
